{% extends "base.html" %}

{% block title %} About us {% endblock %}

{% block content %}
		
	<section class="section pb-5">

	  <h2 class="section-heading h1 pt-4">About us</h2>
	
	  <p class="section-description pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
	    amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a
	    pariatur accusamus veniam.</p>

	    <div class="container">

	      <!--Google map-->
	      <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
	        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2152.9634200425266!2d14.438952780905337!3d50.08030626044781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b949ac030658b%3A0x8974286b3e91244a!2sRiegrovy%20sady%2C%20120%2000%20Vinohrady!5e0!3m2!1sen!2scz!4v1593709300294!5m2!1sen!2scz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	      </div>

	      <br>
	      <!--Buttons-->
	      <div class="row text-center">
	        <div class="col-md-4">
	          <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
	          <p>Praha 2, 120 00</p>
	          <p>Czech Republic</p>
	        </div>

	        <div class="col-md-4">
	          <a class="btn-floating blue accent-1"><i class="fas fa-phone"></i></a>
	          <p>+ 420 111 999 000</p>
	          <p>Mon - Wed, 10:00-13:00</p>
	        </div>

	        <div class="col-md-4">
	          <a class="btn-floating blue accent-1"><i class="fas fa-envelope"></i></a>
	          <p>info@parodytravel.com</p>
	          <p>sale@parodytravel.com</p>
	        </div>
	      </div>

	    </div>
	    <!--Grid column-->
	</section>

{% endblock content %}